/*
Vikram Sringari
6/2/2016
CSE 154 AC
HW8: MYMDb
This styles the MYMDb pages
*/

#banner, #w3c {
	background-image: url("https://webster.cs.washington.edu/images/kevinbacon/banner-background.png");
	color: white;
	padding: 10px;
}

body {	
	margin: 0px;
	font-family: verdana, sans-serif;
}

body, tr:nth-child(even) {
	background-color: #dad9d4;
}

fieldset {
	width: 50%;
}

fieldset, #frame, table{
	margin: 0 auto;
}

form {
	margin: 20px;
}

#frame {
	background-color: white;
	width: 90%;
}

#main {
	text-align: center;
}

table {
	border: 1px solid #dad9d4;
	border-collapse: collapse;
	width: 75%;
}




